/* SITE DEFAULTS */

body {
  background: #f5f5f5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
  color: #111111;
  font-family: 'AveriaSerifLibre';
  overflow-x: hidden;
}



 /* NAVBAR MENU */
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: .5rem;
  overflow: hidden;
}

.navbar a {
  display: block;
  width: fit-content(100%) fit-content(100%) auto;
  color: #2E3B47;
  font-size: 20px;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  transition: 2s, ease-in-out;
}

.navbar a:hover {
  background: radial-gradient(ellipse at center, #7e100b 0, #7e100b 30%, #7e110b00 60%);
  color: #f5f5f5;
  border-radius: 2rem;
  /*border: 8px solid rgba(126, 16, 11, 0.1); */
  transition: color 1s ease-in-out, background 1s ease-in-out;
}

.navbar a:dropdown {
  background-color: #333;
}

img {
  -webkit-touch-callout: none; /* Disable callout on iOS */
  -webkit-user-select: none; /* Disable text selection on WebKit browsers */
  -khtml-user-select: none; /* Disable text selection on Konqueror */
  -moz-user-select: none; /* Disable text selection on Mozilla browsers */
  -ms-user-select: none; /* Disable text selection on Internet Explorer/Edge */
  user-select: none; /* Disable text selection */
  pointer-events: none; /* Disable pointer events, including right-click context menu */
  -webkit-user-drag: none; /* Disable dragging on WebKit browsers */
  -user-drag: none; /* Disable dragging */
}

.nameTitle {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  font-family: 'AveriaSerifLibre';
  font-size: 30px;
  color: #111111;
  text-decoration: none;
}

.signature {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  width: 2rem;
  padding: 1rem;
  background-color: yellow;
} 

.writeSpace {
  display: block;
  max-width: 1000px;
}

.whitebox {
 display:block;
 justify-content:center;
 background-color:white;
 margin: 0 auto;
 padding: 3rem;
 border-radius: 1.5rem;
}

.footer {
 display: flex;
 justify-content: center; /* Aligns content to the bottom */
 align-items: center; /* Centers content horizontally */
 text-align: center;
 margin: 0 auto;
 color: lightGray;
}


.imageGrid {
 display: flex;
/* flex-direction: column;*/
 height: 70vh;
 width: 100%;
 padding-top: 1rem;
 justify-content: flex-start;
 margin: auto;
 grid-gap: 3rem;
 overflow-y: auto;
 overflow-x: auto;
 text-align:center;
}

.imageGrid > div {
  background: transparent;
  height: 100%; /**/
  width: 100%;
  color: #111111;
  border-radius: 1rem;
  margin: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'AveriaSerifLibre';
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}

.imageGrid::-webkit-scrollbar {
    overflow-x: auto;
}

.paintingImage {
  display: flex;
  border-radius: .3rem;
  box-shadow: 0px 2px 5px #333;
  max-width: 500px;
  max-height: 500px;
}

.imageGrid > div img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
}

.imageGrid > div:hover img {
  opacity: .8;
  transition: all .3s ease-in-out;
}


.container {
  display: block;
  position: relative;
}

.project-panel {
  display: flex;
  flex-direction: column;
  color: #333;
  background:linear-gradient(rgba(255, 255, 255, 0.5) 0, rgba(0, 0, 0, .9) 50%);
  background-size: cover;
  height: 500px;
  width: 300px;
  padding: 1rem;
  border-radius: 1rem;
  justify-content: bottom;
  align-items: center;
}




/* Hidden Overlay Base Styling */
.lightbox {
  display: none;
  position: fixed; z-index: 1000; top: 0; left: 0;
  width: 100%; height: 100%; background: rgba(0, 0, 0, 0.9);
  justify-content: center; align-items: center;
}
/* Triggered Display state */
.lightbox.active { display: flex; }
.lightbox-content img { max-width: 90vw; max-height: 80vh; border-radius: 4px; }

/* Control Buttons Styling */
.close-btn { position: absolute; top: 20px; right: 30px; color: white; font-size: 40px; cursor: pointer; }
.nav-btn { position: absolute; top: 50%; transform: translateY(-50%); background: none; border: none; color: white; font-size: 35px; cursor: pointer; padding: 15px; }
.prev-btn { left: 20px; }
.next-btn { right: 20px; }





.image {
  display: block;
  position: absolute;
  border-radius: .3rem;
  box-shadow: 0px 2px 5px #000;
  max-width: 500px;
  max-height: 500px;
}

.overlay {
  position: absolute;
  border-radius: .3rem;
  box-shadow: 0px 2px 5px #FFF;
  max-width: 500px;
  max-height: 500px;
  opacity: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  opacity: 1;
}

p:target { background: red; }



/* SCREEN RESPONSIVITY */

/* Tablet + Mobile */
@media screen and (max-width: 1024px) {
  .imageGrid {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  } 
}

/* Large Monitor */
@media screen and (min-width: 1400px) {
  .imageGrid {
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  
}





/* fonts */
@font-face {
 font-family: 'CormorantGaramond';
 src: url("fonts/CormorantGaramond/CormorantGaramond-VariableFont_wght.ttf") format('truetype');
}

@font-face {
 font-family: 'AveriaSerifLibre';
 src: url("fonts/AveriaSerifLibre/AveriaSerifLibre-Regular.ttf") format('truetype');
}


